body {
    color: #333;
    background: #ddd center top;
    font-family: "Trebuchet MS",arial;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    display: block;
}

a:hover {
    cursor: pointer;
}

@media (min-width:1200px) {
    .container {
        width: 100%;
    }
}

.row.loyout {
    margin: 0px;
    padding: 0px;
}

.col-md-12.loyout {
    margin: 0px;
    padding: 0px;
}

/*******************************HEADER_CSS**********************************/

#page_helper {
    width: 1000px;
    margin: 0px auto;
}

.container.default_page {
    padding: 0px;
}

.container.page_helper, button.btn.btn-default.btn_find {
    padding: 0px 15px 0px 15px;
    margin: 0px;
    font-size: 13px;
}

.row.header_link {
    height: 43px;
    padding-top: 10px;
}

a.link_mintrud {
    color: #333;
}

a.link_appeals {
    color: #337ab7;
}

a.link_mintrud, a.link_appeals {
    text-decoration: underline;
}

button.btn.btn-default.btn_find {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input.form-control.input_find {
    padding: 5px;
    z-index: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

button.btn.btn-default.btn_find, input.form-control.input_find {
    height: 23px;
    border: none;
    background-color: #f9f9f9;
}

/******************************CONTENT_CSS**********************************/

.container.content {
    min-height: 1000px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: 0 0 20px #AAAAAA;
}

.row.content {
    background-image: url('Image/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90px;
    margin: 0px;
}

.col-md-2.flag_logo {
    margin-top: -5px;
}

img.flag_logo {
    height: 110px;
    width: 162px;
    z-index: 10;
    position: sticky;
}

h3.header {
    font-size: 24px;
    color: #111;
    text-shadow: 1px 1px #fff;
    margin-top: 30px;
    padding-left: 15px;
}

/********************************MENU_CSS***********************************/
#dropdownMenu1 {
    margin-left: -16%;
}

.row.main_menu {
    background: url('Image/menubg.png');
    height: 51px;
    padding: 0 10px;
    box-shadow: 0 0 10px #999999;
    margin: 0px;
}

.menu_item {
    margin-top: 16px;
}

a.menu_item {
    text-shadow: 1px 1px #EEEEEE;
    text-decoration: none;
    color: #666;
    font-size: 15px;
    z-index: 0;
    padding-top: 17px;
    cursor: pointer;
}

    a.menu_item:hover {
        color: black;
    }

.dropdown-menu {
    border-radius: 0px 0px 10px 10px;
    border: none;
    margin-top: 5px;
    background-color: #e9e9e9;
    z-index: 1;
}

ul.services, ul.menu_two_cols, ul.family, ul.help {
    color: #509BBC;
    text-decoration: underline;
    list-style: none;
    padding: 10px 0px 0px 0px;
}

    ul.menu_two_cols li, ul.services li, ul.family li, ul.help li {
        margin-bottom: 5px;
    }

.row.dropdown-menu.menu_two_cols {
    width: 442px;
    margin-left: -8px;
    z-index: 10;
    background: #ededed url('Image/mbuk.png') no-repeat 0 0;
}

.row.dropdown-menu.services {
    margin-left: -10px;
    width: 246px;
    z-index: 10;
    background: #ededed url('Image/mbuk.png') no-repeat 0 0;
}

.row.dropdown-menu.family {
    margin-left: -10px;
    width: 257px;
    z-index: 10;
    background: #ededed url('Image/mbuk.png') no-repeat 0 0;
}

.row.dropdown-menu.help {
    margin-left: -5px;
    z-index: 10;
    background: #ededed url('Image/mbuk.png') no-repeat 0 0;
}
/******************************RULES_CSS****************************************/
#rules-text {
    padding: 0px 25px 0px 25px;
    font-size: 18px;
    font-weight: 500;
    font-family: serif;
}

form.default_page {
    padding-left: 0px;
    padding-right: 0px;
}

h2.rules-header {
    font-size: 26px;
    text-align: center;
    font-family: serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 25px;
}

.rules-of-greeting {
    font-weight: 600;
}

span.important {
    font-weight: 600;
}

.btn-default {
    background-color: #dad7d7;
}

.rules-attention {
    margin-top: 15px;
}
/*******************************FOOTER_CSS**************************************/
footer {
    margin-top: 15px;
}

.col-md-6.footer-col-1 {
    padding-right: 85px;
}

p.footer-text {
    margin: 0px;
}

.develop-text {
    margin-top: 20px;
}

.col-md-6.footer-col-2 {
    text-align: right;
}

/*******************************Questions*********************************/
.container.questions {
    padding-top: 40px;
    font: 400 21px san-serif;
    background-color: whitesmoke;
}

.row.qestion_set {
    background-image: url(Image/bgque.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 50px;
    padding-top: 15px;
    padding-left: 36px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 11px;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
}

p.question {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.row.content_body {
    margin-bottom: 35px;
    max-height: 160px;
    background-image: url(Image/bottom.png);
    background-position: bottom;
    background-repeat: no-repeat;
    padding-bottom: 25px;
    padding-right: 18px;
    border-color: white;
    border-style: outset;
    padding-left: 10px;
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

form {
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-1.cheker {
    padding-top: 50px;
}

.col-md-9.question-answer {
    
}

input.qestion_set {
    width: 20px;
    height: 20px;
}

.btn.btn-default {
    font-family: sans-serif;
    font-size: 17px;
}

.col-md-6.right {
    text-align: right;
}

.row.navigation {
    margin-top: 25px;
}

.btn.btn-default.green {
    background-color: greenyellow;
}

span.voicerONDefault {
    margin-left: 67%;
}

.row.voicer {
    margin-top: 18px;
}

span.get_answer {
    vertical-align: middle;
    position: absolute;
}

.get_answer {
    font: 400 22px sans-serif;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: -webkit-left;
    text-align: left;
    vertical-align: middle;
}

label.checked {
    background-image: url(Image/checker.png);
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin-top: -25px;
}

label.unchecked {
    background-image: url('Image/cher.png');
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    margin-top: -25px;
}

.rotate:hover {
    -webkit-transform: rotateY(20deg);
    -ms-transform: rotateY(20deg);
    transform: rotateY(20deg);
}

@-webkit-keyframes swing {
    15% {
        -webkit-transform: rotateY(60deg);
        -ms-transform: rotateY(60deg);
        transform: rotateY(60deg);
    }

    30% {
        -webkit-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
        transform: rotateY(120deg);
    }

    40% {
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    50% {
        -webkit-transform: rotateY(240deg);
        -ms-transform: rotateY(240deg);
        transform: rotateY(240deg);
    }

    65% {
        -webkit-transform: rotateY(300deg);
        -ms-transform: rotateY(300deg);
        transform: rotateY(300deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: rotateY(60deg);
        -ms-transform: rotateY(60deg);
        transform: rotateY(60deg);
    }

    30% {
        -webkit-transform: rotateY(120deg);
        -ms-transform: rotateY(120deg);
        transform: rotateY(120deg);
    }

    40% {
        -webkit-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    50% {
        -webkit-transform: rotateY(240deg);
        -ms-transform: rotateY(240deg);
        transform: rotateY(240deg);
    }

    65% {
        -webkit-transform: rotateY(300deg);
        -ms-transform: rotateY(300deg);
        transform: rotateY(300deg);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.swing:active {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.row.geolocation_processing {
    margin-bottom: 30px;
    padding-bottom: 50px;
    background-image: url(Image/ramka.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
}

.container.geolocation.questions {
    background-color: white;
    padding-top: 10px;
}

.col-md-6.col-sm-6.leftgeolocation {
    left: 25%;
}
button.btn.btn-default.geolocation {
    width: 200px;
}

.row.content_body.geolocation_map {
    max-height: none;
    padding-bottom: 37px;
}

.row.qestion_set.geolocation_map {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-12.col-sm-12.answer_map {
    text-align: center;
}

button.btn.btn-default.map_question_no {
    margin-left: 48%;
    width: 80px;
}

button.btn.btn-default.map_question_yes {
    margin-left: -5%;
    width: 80px;
}

p.question.geolocation {
    font: 400 23px sans-serif;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 15px;
}

.col-md-7.col-sm-7.geolocation_map {
    padding-bottom: 7px;
}

.btn.btn-default.user_input_location {
    margin-top:10px;
    margin-bottom:10px;
}
.container.result-page {
    FONT-SIZE: 15px;
    font-family: sans-serif;
}
h3.prz {
    font-size: 18px;
}