<div class="container questions">
    @if (InteractiveConsultant.Models.StateInterview._voicerOn)
    {
        <script type="text/javascript">
            var synth = window.speechSynthesis;
            var utterThis = new SpeechSynthesisUtterance("Для определения условий предоставления социального обслуживания в зависимости от средне-душевого дохода семьи, необходимо ввести среднюю зароботную плату за месяц для каждого члена семьи");
            synth.speak(utterThis);
        </script>
    }
    <div class="row qestion_set">
        <div class="col-md-12 col-sm-12">
            <p class="question">Для определения условий предоставления социального обслуживания в зависимости от средне-душевого дохода семьи, необходимо ввести среднюю заработную плату за месяц для каждого члена семьи</p>
        </div>
    </div>
    @using (Html.BeginForm("ResultPage", "Interview", FormMethod.Post))
    {
        for (int i = 1; i <= (int)ViewData["countPeople"]; i++)
        {
            <div class="row content_body">
                <div class="col-md-10 col-sm-10">
                    <input class="set-income" type="number" name="revenues" pattern="\d+(,\d{2})?" />
                </div>
                <div class="col-md-2 col-sm-2">
                    <p class="cost">руб.</p>
                </div>
            </div>
        }
        <div class="row content_body">
            <div class="col-md-12 col-sm-12">
                <input class="btn btn-default" type="submit" value="Завершить опрос" />
            </div>
        </div>
    }
</div>
