@model InteractiveConsultant.Models.Question
@using InteractiveConsultant.Models;
@{int i = 0; }
<div>
    <h1>@Html.DisplayFor(m => m.TextQuestion)</h1>
    @foreach (var a in Model.Answers)
    {
        <h3>
            @Html.RadioButton("answer", "answer" + i.ToString())
            @a.TextAnswer
        </h3>
        i++;
    }
</div>
