<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 body-content">
            <section id="rules-text">
                <div class="rules-header">
                    <h2 class="rules-header"> ИНТЕРАКТИВНЫЙ ОНЛАЙН-КОНСУЛЬТАНТ ПО СОЦИАЛЬНОМУ ОБСЛУЖИВАНИЮ НАСЕЛЕНИЯ</h2>
                </div>
                <div class="rules-of-greeting">
                    <h3 class="rules-of-greeting">Уважаемый пользователь!</h3>
                </div>
                <div class="rules">
                    <p class="rules">По результату проведенного опроса и выбранных Вами ответов:</p>
                    <p class="rules">В соответствии с законодательством Российской Федерации к сожалению мы не можем оказать Вам социальные услуги. Советуем Вам обратится за помощью в Ваше посольство.</p>
                </div>
                <div class="rules-consent">
                    <a href="http://mintrudrb.ru">Перейти на сайт Минтруда!</a>
                </div>
            </section>
        </div>
    </div>
</div>
