@model InteractiveConsultant.Models.Question

<div class="row qestion_set">
    <div class="col-md-12">
        <p>@Model.TextQuestion</p>
    </div>
</div>
@using (Html.BeginForm("PreNextQuestion", "Interview"))
{
    int i = 0;

    foreach (var a in Model.Answers)
    {
        <div class="row content_body">
            <div class="col-md-2">
                @Html.RadioButton("proposed_responses", "answer_" + i.ToString())
            </div>
            <div class="col-md-2">
                @if (a.ImagePath != null)
                {
                    <img src=@a.ImagePath />
                }
            </div>
            <div class="col-md-8">
                @if (a.TextAnswer != null)
                {
                    <p class="get_answer">@a.TextAnswer</p>
                }
            </div>
            @{
                i++;
            }
        </div>
    }
    <div class="row get_answer">
        <div class="col-md-6">
            <button name="action" class="btn btn-default" value="previos">Предыдущий вопрос</button>
        </div>
        <div class="col-md-6">
            <button name="action" class="btn btn-default" value="next">Следующий вопрос</button>
        </div>
    </div>

}
