@model InteractiveConsultant.Models.Question
<div class="container questions">
    <div class="row qestion_set">
        <div class="col-md-12">
            <p class="question">@Model.TextQuestion</p>
        </div>
    </div>
    @using (Html.BeginForm("PreNextQuestion", "Interview", FormMethod.Post))
    {
        foreach (var a in Model.Answers)
        {
            <div class="row content_body">
                <div class="col-md-1 cheker">
                    @if ((ViewData["AnswerID"] != null) && ((byte)ViewData["AnswerID"] == (byte)a.IDAnswer))
                    {
                        <input class="qestion_set" type="radio" name="responses" value="@a.IDAnswer.ToString()" checked />
                    }
                    else
                    {
                        <input class="qestion_set" type="radio" name="responses" value="@a.IDAnswer.ToString()" />
                    }
                </div>
                <div class="col-md-3 question-img">
                    @if (a.ImagePath != null)
                    {
                        <img class="img-responsive" src=@a.ImagePath />
                    }
                </div>
                <div class="col-md-8 question-answer">
                    @if (a.TextAnswer != null)
                    {
                        <p class="get_answer">@a.TextAnswer</p>
                    }
                </div>
            </div>
        }
        <div class="row get_answer">
            <div class="col-md-12">
                <button name="action" class="btn btn-default" value="next">Следующий вопрос</button>
            </div>
        </div>
    }
</div>