@model InteractiveConsultant.Models.Question
<div class="row qestion_set">
    <div class="col-md-12">
        <p>@Model.TextQuestion</p>
    </div>
</div>
@using (Html.BeginForm("PreNextQuestion", "Interview", FormMethod.Post))
{
    foreach (var a in Model.Answers)
    {
        <div class="row content_body">
            <div class="col-md-2">
                @if ((ViewData["AnswerID"] != null) && ((byte)ViewData["AnswerID"] == (byte)a.IDAnswer))
                {
                    <input type="radio" name="responses" value="@a.IDAnswer.ToString()" checked />
                }
                else
                {
                    <input type="radio" name="responses" value="@a.IDAnswer.ToString()" />
                }
            </div>
            <div class="col-md-2">
                @if (a.ImagePath != null)
                {
                    <img src=@a.ImagePath />
                }
            </div>
            <div class="col-md-8">
                @if (a.TextAnswer != null)
                {
                    <p class="get_answer">@a.TextAnswer</p>
                }
            </div>
        </div>
    }
    <div class="row get_answer">
        <div class="col-md-12">
            <button name="action" class="btn btn-default" value="next">Следующий вопрос</button>
        </div>
    </div>

}
