@model InteractiveConsultant.Models.Interview

<div>
    <h4>Interview</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateInterview)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateInterview)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TextResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextResult)
        </dd>

    </dl>
</div>