@using InteractiveConsultant.Models;
@{
    ViewBag.Title = "Интерактивный консультант";
}
<div class="container default_page">
    <div class="row">
        <div class="col-md-12 body-content">
            <section id="rules-text">
                <div class="rules-header">
                    <h2 class="rules-header">Опросник.</h2>
                    <h2 class="rules-header"> Интерактивный онлайн-консультант по определению индивидуальной потребности в социальном обслуживании</h2>
                </div>
                <div class="rules-of-greeting">
                    <h3 class="rules-header">Уважаемый пользователь!</h3>
                </div>
                <div class="rules">
                    <p class="rules">Для получения онлайн - консультации по определению индивидуальной потребности в социальных услугах, просим ответить на вопросы анкеты.</p>
                    <p class="rules">Сведения, которые Вы сообщаете о себе анализируются на условиях анонимности, что гарантирует защиту Ваших персональных данных, и позволяют получить информацию о Ваших правах на получение социальных услуг.</p>
                    <p class="rules"><label><span class="label">Для выбора вариантов ответов необходимо отметить курсором поле выбора варианта ответа: </span>@Html.CheckBox("cox", new { @class = "ch", id = "startPageCheckBoxtest" })<span id="startPageCheckBoxCustomtest" class="chcustom"></span></label> и нажать на кнопку <input class="btn btn-success" type="button" value="Далее" onclick="" /> для перехода к следующему вопросу.</p>
                </div>
                <div class="rules important">
                    <span class="important">Важно!</span>
                    <span class="rules">В соответствии с Федеральным законом от 27 июля 2006 года № 152-ФЗ "О персональных данных" онлайн - консультант не дает ответы на вопросы, содержащие персональные данные.</span>
                    <p class="important">    </p>
                </div>
                @using (Html.BeginForm("ConsentToTheProcessingOfGeodata", "GeoLocation", FormMethod.Post, new { @class = "default_page" }))
                {
                    <div class="line-bootom"><span class="important">Перед прохождением онлайн-опроса</span> <label><span class="label">необходимо принять согласие на обработку Ваших ответов на вопросы:</span>@Html.CheckBox("_cheker", new {@class="ch", id= "startPageCheckBox" })<span id="startPageCheckBoxCustom" class="chcustom"></span></label></div>
                                                                                    <p class="important">    </p>
                    <div class="rules important">
                        <span class="important">Обращаем Ваше внимание</span>
                        <span class="rules">на наличие в отдельных нормативных правовых актах дополнительных условий признания граждан в социальном обслуживании. Ознакомиться с полными условиями и порядком признания граждан нуждающимся в социальных услугах, перечнем необходимых документов, Вы можете в нормативном правовом акте, перейдя по ссылке <a href="#">"Подробнее" (Приказ 696-о от 31.12.2014 МСТиСЗН РБ)</a>.</span>
                        <p class="important">    </p>
                    </div>
                    <div class="rules-consent">                        
                        <button name="action" class="btn btn-default" type="submit" value="go">Продолжить</button>
                        <span class="voicerONDefault"><img src="~/Content/Image/voicer.png" />@Html.CheckBox("_voicerON")  Вкл/Выкл голос</span>
                    </div>
                }
            </section>
        </div>
    </div>
</div>
<script>
    var element = document.getElementById('startPageCheckBoxCustom');
    var check = document.getElementById('startPageCheckBox');
    element.addEventListener("click", function () {
        var list = this.classList;
        if (list.contains('_checked')) {
            this.classList.remove('_checked');
        }
        else
            this.classList.add('_checked');
    }
    );
    var element = document.getElementById('startPageCheckBoxCustomtest');
    var check = document.getElementById('startPageCheckBoxtest');
    element.addEventListener("click", function () {
        var list = this.classList;
        if (list.contains('_checked')) {
            this.classList.remove('_checked');
        }
        else
            this.classList.add('_checked');
    }
    )
    </script>