@using InteractiveConsultant.Models;
@{
    ViewBag.Title = "Интерактивный консультант";
}
<div class="container default_page">
    <div class="row">
        <div class="col-md-12 body-content">
            <section id="rules-text">
                <div class="rules-header">
                    <h2 class="rules-header"> ИНТЕРАКТИВНЫЙ ОНЛАЙН-КОНСУЛЬТАНТ ПО СОЦИАЛЬНОМУ ОБСЛУЖИВАНИЮ НАСЕЛЕНИЯ</h2>
                </div>
                <div class="rules-of-greeting">
                    <h3 class="rules-of-greeting">Уважаемый пользователь!</h3>
                </div>
                <div class="rules">
                    <p class="rules">Для получения онлайн - консультации по определению индивидуальной потребностив социальном обслуживании, предоставляемые государственным казенным учреждением Республиканский центр социального обслуживания населения, просим ответить на вопросы анкеты.</p>
                    <p class="rules">Сведения, которые Вы сообщаете о себе анализируются на условиях анонимности, что гарантирует защиту Ваших персональных данных, но позволяет получить исчерпывающую и достоверную информацию о Ваших правах на социальное обслуживание, отнесенное к компетенции нашего учреждения.</p>
                    <p class="rules">При выборе вариантов ответов на предлагаемые вопросы, напротив которых расположено поле выбора в форме квадрата, Вы имеете возможность при наличии соответствующих обстоятельств выбрать несколько вариантов ответов одновременно:</p>
                    <img class="example-choosing-one" src="~/Content/Image/example-1.png" />
                    <p class="rules">При выборе вариантов ответов на предлагаемые вопросы, напротив которых расположено поле выбора в форме круга, Вы имеете возможность выбрать только один из предложенных вариантов ответов:</p>
                    <img class="example-choosing-two" src="~/Content/Image/example-2.png" />
                    <p class="rules">Для выбора вариантов ответов необходимо отметить курсором поле выбора варианта ответа: @Html.RadioButton("Yes", "No") или @Html.CheckBox("Yes", "No") и нажать на кнопку <input class="btn btn-success" type="button" value="Далее" onclick="" /> для перехода к следующему вопросу.</p>
                </div>
                <div class="rules important">
                    <span class="important">Важно!</span>
                    <span class="rules">В соответствии с Федеральным законом от 27 июля 2006 года № 152-ФЗ "О персональных данных" онлайн - консультант не дает ответы на вопросы, содержащие персональные данные.</span>
                </div>
                <div class="rules important">
                    <span class="important">Обращаем Ваше внимание</span>
                    <span class="rules">на наличие в отдельных нормативных правовых актах дополнительных условий признания граждан в социальном обслуживании. Ознакомиться с полными условиями и порядком признания граждан нуждающимся в социальных услугах, перечнем необходимых документов, Вы можете в нормативном правовом акте, перейдя по ссылке <a href="#">"Подробнее" (Приказ 696-о от 31.12.2014 МСТиСЗН РБ)</a>.</span>
                </div>
                <div class="rules-consent">
                    <form action="/Interview/Index" method="post" class="default_page">
                        <p class="compliance">Я по собственной воле, находясь в трезвом уме и с ясным сознанием, согласен на заполнение анкеты. Претензий к форме и характеру вопросов не имею. @Html.CheckBox("_checked")</p>
                        <input class="btn btn-default" type="submit" value="Продолжить" />
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
