@model InteractiveConsultant.Models.LocationUser
<div class="container questions geolocation">
    <div class="row qestion_set geolocation">
        <div class="col-md-12 col-sm-12">
            <h2>Ваше местоположение</h2>
        </div>
    </div>
    <div class="row content_body geolocation">
        <div class="col-md-12 col-sm-12 geolocation" onload="initialize()">
            <div id="map_canvas" style="width:400px;height:400px;"></div>
        </div>
    </div>
</div>