@model InteractiveConsultant.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TextQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextQuestion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDQuestion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
